<h1><%= t 'help.h1' %></h1>

<h2><%= t 'help.newjob.title' %></h2>
<p><%= t 'help.newjob.text' %></p>

<h2><%= t 'help.rerunjob.title' %></h2>
<p><%= t 'help.rerunjob.text' %></p>

<h2><%= t 'help.recyclejob.title' %></h2>
<p><%= t 'help.recyclejob.text' %></p>

<h2><%= t 'help.download.title' %></h2>
<p><%= t 'help.download.text' %></p>

<h2><%= t 'help.presets.title' %></h2>
<p><%= t 'help.presets.text' %></p>

<h2><%= t 'help.advanced.title' %></h2>

<ul>
<li><%= link_to t('help.advanced.text1'), help_translate_path %></li>
<li><%= link_to t('help.advanced.text2'), help_transform_path %></li>
</ul>

