<h1><%= t 'help.translation.h1' %></h1>

<h2><%= t 'help.translation.whatfor.title' %></h2>
<p><%= t 'help.translation.whatfor.text1' %></p>
<p><%= t 'help.translation.whatfor.text2' %></p>

<h2><%= t 'help.translation.looklike.title' %></h2>
<p><%= t 'help.translation.looklike.text1' %></p>

<blockquote>
<pre>
bakery		boulangerie
traffic_signals feu
</pre>
</blockquote>

<p><%= t 'help.translation.looklike.text2' %></p>
<p><%= t 'help.translation.looklike.text3' %></p>

<h2><%= t 'help.translation.howuse.title' %></h2>
<p><%= t 'help.translation.howuse.text1' %></p>
<p><%= t 'help.translation.howuse.text2' %></p>

<h2><%= t 'help.translation.advancedtables.title' %></h2>
<p><%= t 'help.translation.advancedtables.text' %></p>

<blockquote>
<pre>
highway=residential     rue résidentielle
building=residential    maison
</pre>
</blockquote>

