<h1><%= t 'home.h1' %></h1>

<h2><%= t 'home.about.title' %></h2>
<p><%= t 'home.about.text' %></p>

<h2><%= t 'home.get_started.title' %></h2>
<p><%= t 'home.get_started.text1' %></p>
<p><%= t 'home.get_started.text2' %></p>
<p><%= t 'home.get_started.text3' %></p>
<p><%= t 'home.get_started.text4' %></p>

<h2><%= t 'home.note.title' %></h2>
<p><%= t 'home.note.text' %>

<h2><%= t 'home.new.title' %></h2>
<ul>
   <li><%= t 'home.new.text3' %></li>
   <li><%= t 'home.new.text2' %></li>
   <li><%= t 'home.new.text1' %></li>
</ul>

