<div id="header" style="background-image: url(<%= asset_path 'layout/red-header.png' %>);">
   <div class="nav">
      <ul>
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "New Job", new_job_path %></li>
         <li><%= link_to "All Jobs", jobs_path %></li>
      </ul>
   </div>
   <div class="logo">
      <img src="<%= asset_path 'layout/logo.png' %>" class="logo">
      <h1>HOT Exports</h1>
   </div>
</div>


