<p><%= t 'devise.mailer.hello' %> <%= @email %>!</p>

<p><%= t 'devise.mailer.confirmation.text1' %></p>
<p><%= t 'devise.mailer.confirmation.text1' %></p>

<p><%= link_to t('devise.mailer.confirmation.link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p><%= t 'devise.mailer.regards1' %><br><%= t 'devise.mailer.regards2' %></p>
