<p><%= t 'devise.mailer.hello' %> <%= @resource.email %>!</p>

<p><%= t 'devise.mailer.reset.text1' %></p>
<p><%= t 'devise.mailer.reset.text2' %></p>


<p><%= link_to t('devise.mailer.reset.link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t 'devise.mailer.regards1' %><br><%= t 'devise.mailer.regards2' %></p>

