<h1>New Export Job - Tag Upload</h1>

<div class="wizard">
<%= form_tag({:action => :tagupload}, :multipart => true) do %>
<%= hidden_field_tag(:wizard, 'tagupload') %>
<%= hidden_field_tag("job[name]", @job.name) %>
<%= hidden_field_tag("job[description]", @job.description) %>
<%= hidden_field_tag("job[lonmin]", @job.lonmin) %>
<%= hidden_field_tag("job[latmin]", @job.latmin) %>
<%= hidden_field_tag("job[lonmax]", @job.lonmax) %>
<%= hidden_field_tag("job[latmax]", @job.latmax) %>
<%= hidden_field_tag("job[region_id]", @job.region_id) %>
<table class="wizard">
<tr>
   <th>Job Name</th>
   <td><%= @job.name %></td>
</tr>
<tr>
   <th><%= label_tag(:tagfile, "JOSM Preset File") %></th>
   <td><%= file_field_tag :tagfile %></td>
</tr>
</table>

<%= submit_tag("Save") %>
<% end %>
</div>

